# Stocastic Gradient Descent over a dataframe Data.csv

Para esta tarea se implementara el algoritmo de gradiente descendiente para el archivo Data.csv de la tarea del curso Optimización no lineal.

En principio se adjuntan las librerias a importar, luego las funciones a utilizar y finalmente la carga de datos correspondiente.

## Librerias:

In [41]:
import pandas as pd
import sklearn as sk
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

## Funciones a Implementar:

In [46]:
def minimos_cuadrados(x,y):
    f = LinearRegression().fit(x, y)
    return f
def lasso(x,y,alpha):
    f = linear_model.Lasso(alpha).fit(x,y)
    
    return f

def lasso(x,y,alpha):
    f = Ridge(alpha).fit(x,y)
    
    return f

## Carga de datos

In [8]:
data = pd.read_csv("Data.csv") 
data.head(5)

,y,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,x_12,x_13,x_14,x_15
0,0.458557,0.261799,0.068539,0.017943,0.004698,0.001230,0.000322,0.000084,0.000022,0.000006,0.000002,3.959633e-07,1.036629e-07,2.713889e-08,7.104946e-09,1.860070e-09
1,0.370323,0.266163,0.070843,0.018856,0.005019,0.001336,0.000356,0.000095,0.000025,0.000007,0.000002,4.749188e-07,1.264057e-07,3.364447e-08,8.954904e-09,2.383462e-09
2,0.035428,0.270526,0.073184,0.019798,0.005356,0.001449,0.000392,0.000106,0.000029,0.000008,0.000002,5.679364e-07,1.536416e-07,4.156405e-08,1.124416e-08,3.041837e-09
3,0.270183,0.274889,0.075564,0.020772,0.005710,0.001570,0.000431,0.000119,0.000033,0.000009,0.000002,6.772316e-07,1.861637e-07,5.117443e-08,1.406731e-08,3.866953e-09
4,0.368838,0.279253,0.077982,0.021777,0.006081,0.001698,0.000474,0.000132,0.000037,0.000010,0.000003,8.053244e-07,2.248890e-07,6.280085e-08,1.753731e-08,4.897340e-09

A continuación veremos un resumen de la data:

In [2]:
data.describe()

,y,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,x_12,x_13,x_14,x_15
count,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1140.000000,1.140000e+03,1.140000e+03,1.140000e+03,1.140000e+03,1.140000e+03,1.140000e+03,1.140000e+03
mean,0.092804,2.746712,9.606304,37.712517,157.904872,688.702897,3089.602471,14149.076986,65825.325378,3.100651e+05,1.475291e+06,7.077932e+06,3.419492e+07,1.661859e+08,8.117986e+08,3.983243e+09
std,0.766679,1.436554,8.104407,40.851346,202.304913,1000.928513,4966.983056,24741.446798,123699.752393,6.205622e+05,3.122598e+06,1.575474e+07,7.967774e+07,4.038107e+08,2.050378e+09,1.042845e+10
min,-1.495214,0.261799,0.068539,0.017943,0.004698,0.001230,0.000322,0.000084,0.000022,5.777203e-06,1.512468e-06,3.959633e-07,1.036629e-07,2.713889e-08,7.104946e-09,1.860070e-09
25%,-0.730494,1.504256,2.262789,3.403823,5.120245,7.702205,11.586177,17.428737,26.217564,3.943841e+01,5.932629e+01,8.924331e+01,1.342471e+02,2.019457e+02,3.037841e+02,4.569790e+02
50%,0.328183,2.746712,7.544431,20.722405,56.918584,156.339347,429.420501,1179.498869,3239.757898,8.898727e+03,2.444238e+04,6.713659e+04,1.844062e+05,5.065144e+05,1.391261e+06,3.821426e+06
75%,0.793463,3.989168,15.913466,63.481522,253.238636,1010.212414,4029.911734,16076.017291,64130.037367,2.558260e+05,1.020535e+06,4.071094e+06,1.624032e+07,6.478554e+07,2.584412e+08,1.030969e+09
max,1.401035,5.231624,27.369894,143.189007,749.111109,3919.067980,20503.091799,107264.476003,561167.453434,2.935817e+06,1.535909e+07,8.035301e+07,4.203768e+08,2.199253e+09,1.150567e+10,6.019333e+10

A continuación extraeremos cada Eje partiendo por el Y, que se mostrará en pantalla.

In [3]:
y = data["y"]
y.head()

0    0.458557
1    0.370323
2    0.035428
3    0.270183
4    0.368838
Name: y, dtype: float64

De forma análoga se repite el proceso con el eje X.

In [4]:
x = data.drop("y",axis=1)
x.head()

,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,x_12,x_13,x_14,x_15
0,0.261799,0.068539,0.017943,0.004698,0.001230,0.000322,0.000084,0.000022,0.000006,0.000002,3.959633e-07,1.036629e-07,2.713889e-08,7.104946e-09,1.860070e-09
1,0.266163,0.070843,0.018856,0.005019,0.001336,0.000356,0.000095,0.000025,0.000007,0.000002,4.749188e-07,1.264057e-07,3.364447e-08,8.954904e-09,2.383462e-09
2,0.270526,0.073184,0.019798,0.005356,0.001449,0.000392,0.000106,0.000029,0.000008,0.000002,5.679364e-07,1.536416e-07,4.156405e-08,1.124416e-08,3.041837e-09
3,0.274889,0.075564,0.020772,0.005710,0.001570,0.000431,0.000119,0.000033,0.000009,0.000002,6.772316e-07,1.861637e-07,5.117443e-08,1.406731e-08,3.866953e-09
4,0.279253,0.077982,0.021777,0.006081,0.001698,0.000474,0.000132,0.000037,0.000010,0.000003,8.053244e-07,2.248890e-07,6.280085e-08,1.753731e-08,4.897340e-09

Luego transformamos los dataframe x e y a una matriz para procesarlos más fácil a partir de este punto.

In [5]:
x = x.values
y = y.values

In [6]:
n = len(x)
n_x = len(x[0])